.incogniteSignUp{
    width: 100%;
    background: url('../../assets/OCFgif4.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.incogniteMid{
    width: 100%;
    max-width: 1400px;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}